.Route {
  cursor: pointer;
  display: inline-block;
  vertical-align: top;
}

.Route:hover {
  box-shadow: 0 0 10px rgba(0,0,0,.3);
}

.Route-title {
  font-family: 'Montserrat', sans-serif;
  color: #44546b;
  white-space: normal;

}
.Route-badge {
  font-family: 'Montserrat', sans-serif;
  color: white;
  white-space: normal;
  font-size: 15px;
  padding: 10px 20px;
  border-radius: 0;
  width: 100px;
}

li#route .fa.Route-favorite {
  font-size: 30px;
  color: #F2F2F2;
}
li#route .fa.Route-favorite:hover {
  color: #F7A92A;
}

li#route .fa.Route-favorite.active {
  color: #F7A92A;
}

